In [1]:
#First thing is to import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
#Read the store_income_data_task.csv file
df = pd.read_csv('store_income_data_task.csv')
df.head()

,id,store_name,store_email,department,income,date_measured,country
0,1,"Cullen/Frost Bankers, Inc.",NaN,Clothing,$54438554.24,4-2-2006,United States/
1,2,Nordson Corporation,NaN,Tools,$41744177.01,4-1-2006,Britain
2,3,"Stag Industrial, Inc.",NaN,Beauty,$36152340.34,12-9-2003,United States
3,4,FIRST REPUBLIC BANK,ecanadine3@fc2.com,Automotive,$8928350.04,8-5-2006,Britain/
4,5,Mercantile Bank Corporation,NaN,Baby,$33552742.32,21-1-1973,United Kingdom

In [4]:
#Display te number of missing values per column
df.isnull().sum()

id                 0
store_name         0
store_email      587
department        27
income             0
date_measured      0
country           35
dtype: int64

Why we have missing data
1. store_email: Missing Not At Random, this could be because people dont want to be sent marketing emails all the time and they avoid that by not providing their email addressess
2. department:  Missing completely at random. Maybe the person forgots to input that data
3. country: missing at random. This data might have been negated because someone might think, if you know the store name you migt know which country is that store located.